* {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: #929292;
  cursor: pointer;
}

#profile-page {
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-transform: lowercase;
  margin-top: 65px;
  color: #242424;
}
#profile-page #left {
  overflow: hidden;
  display: block;
  float: left;
  height: 100%;
  width: 40%;
}
#profile-page #left img {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 8px;
}
#profile-page #left .pfp-caption {
  text-align: center;
  font-weight: 200;
  margin: 0px 20% 0px 20%;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: #929292;
}
#profile-page #left .icon {
  width: 20px;
  margin: 0;
}
#profile-page .stat-row {
  margin-left: 25%;
  padding-top: 10px;
}
#profile-page .stat-row a {
  position: relative;
  bottom: 3px;
  padding-left: 20px;
}
#profile-page #right {
  display: block;
  float: right;
  height: 100%;
  width: 60%;
}
#profile-page #right h1 {
  font-weight: 100;
  font-size: 50px;
  border-bottom: 2px solid #242424;
  margin-left: 10px;
  margin-right: 30px;
  padding-bottom: 10px;
}
#profile-page #right h2 {
  font-weight: 300;
  padding-bottom: 3px;
  margin-left: 15px;
  margin-right: 50px;
}
#profile-page #right #challenge-block {
  transition: 0.3s;
  height: 150px;
  overflow: hidden;
  border: 1px solid #242424;
  border-radius: 10px;
  margin: 0px 40px 30px 20px;
  box-shadow: 0px 5px 10px #505050;
}
#profile-page #right #challenge-block .icon {
  width: 20px;
  margin: 0;
}
#profile-page #right #challenge-block .left {
  float: left;
  width: 20%;
  height: 100%;
  overflow: hidden;
}
#profile-page #right #challenge-block .left img {
  height: 100%;
}
#profile-page #right #challenge-block .right {
  float: right;
  width: 80%;
  height: 100%;
  overflow: hidden;
}
#profile-page #right #challenge-block .right #challenge-info {
  float: left;
  width: 70%;
}
#profile-page #right #challenge-block .right #challenge-controls {
  right: 0;
  width: 30%;
  float: right;
}
#profile-page #right #challenge-block .right #challenge-controls button {
  transition: 0.2s;
  margin-top: 20%;
  color: white;
  background-color: #4b4ea6;
  border: 1px solid #242424;
  border-radius: 10px;
  width: 60%;
  margin-left: 10%;
  padding: 10px 5px 10px 5px;
  font-weight: 100;
  font-size: 17px;
}
#profile-page #right #challenge-block .right #challenge-controls button:hover {
  background-color: white;
  border-color: #4b4ea6;
  color: #4b4ea6;
  cursor: pointer;
}
#profile-page #right #challenge-block .right #challenge-controls #progress-bar {
  position: relative;
  top: 20px;
  width: 80%;
}
#profile-page #right #challenge-block h1 {
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 2px;
  margin: 10px 80px 7px 10px;
  font-size: 30px;
}
#profile-page #right #challenge-block .stat-row {
  margin-left: 10px;
}
#profile-page #right #challenge-block .stat-row a {
  padding-left: 10px;
}
#profile-page #right #challenge-block:hover {
  transform: translate(0px, -2px);
  box-shadow: 0px 7px 10px #505050;
}
@media (max-width: 920px) {
  #profile-page #left {
    width: 0;
  }
  #profile-page #right {
    width: 100%;
  }
}
@media (min-width: 1120px) {
  #profile-page #left {
    width: 35%;
  }
  #profile-page #right {
    width: 65%;
  }
}
#profile-page .divider {
  border-bottom: 1.5px solid #242424;
} /*# sourceMappingURL=profile-page.css.map */
