@import '../../global.sass'

@mixin right-float 
    position: relative
    top: 6px
    display: block
    float: right 

#header
    color: red
    background-color: $spacegray
    padding: 5px

    img
        height: 40px
        margin-left: 10px 
        margin-right: 20px
        filter: invert(100%)

    .header-btn
        display: inline-block
        position: relative
        bottom: 9px

        color: white
        background-color: #00000000

        border: 1px transparent solid
        border-radius: 5px

        margin: 5px
        padding: 5px

        font-size: 15px
        text-transform: lowercase
        font-weight: 30

        transition: 0.3s

        .default
            color: green

    .header-btn:hover
        color: $spacegray
        background-color: white
        cursor: pointer 

    #login-btn
        @include right-float

    #signup-btn
        @include right-float

    #profile-btn
        @include right-float
        
        

    #signup-btn
    